@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}

:root {
  --body-background: #faf9f6;
  --primary-dark-background: #121212;
  --primary-dark-background-op: #121212a2;
  --primary-font-color: #374151;

  --nav-scrolled-bg-color: #6e6e6e;
  --white: #faf9f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--primary-dark-background);
  min-height: 100vh;
  position: relative;
}

.container {
  width: 75%;
  margin: 0 auto;
}

/****** Header *******/

.header {
  padding: 1rem 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: background 0.3s ease;
}

.header__scrolled-bg {
  background: var(--nav-scrolled-bg-color);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

.header__nav-logo {
  color: var(--white);
  font-size: 3.5rem;
  font-weight: 600;
  transition: all 0.2s ease;
  position: relative;
}

.header__nav-logo::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -0.25rem;
  width: 100%;
  height: 1px;
  background: var(--white);
  transition: transform 0.2s ease;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
}

.header__nav-logo:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.header__nav-logo span {
  color: #6e6e6e;
  transition: color 0.3s ease;
}

.header__nav-logo span.scrolled-color {
  color: var(--white);
}

.header__nav-list {
  display: flex;
  gap: 4rem;
}

.header__nav-list-item a {
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 300;
  transition: filter 0.2s ease;
  position: relative;
}

.header__nav-list-item a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -0.25rem;
  width: 100%;
  height: 1px;
  background: var(--white);
  transition: transform 0.2s ease;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
}

.header__nav-list-item a:hover {
  filter: brightness(85%);
}

/* .header__nav-list-item a:hover::after {
  transform: translateX(-50%) scaleX(1);
} */

/***** After pseudo-element for active link *****/
.header__nav-list-item a.active-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -0.25rem;
  width: 100%;
  height: 1px;
  background: var(--white);
  transition: transform 0.2s ease;
  transform: translateX(-50%) scaleX(1);
  transform-origin: center;
}

/***** Hamburger button *****/

.header__nav-hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
  border: none;
  width: 5rem;
  min-height: auto;
  background: transparent;
}

.header__nav-hamburger-line {
  height: 0.2rem;
  width: 65%;
  background: var(--white);
  transition: all 0.3s ease;
}

.header__nav-hamburger[aria-expanded='true']
  .header__nav-hamburger-line:nth-child(1) {
  transform: translateY(1rem) rotate(-45deg);
}

.header__nav-hamburger[aria-expanded='true']
  .header__nav-hamburger-line:nth-child(2) {
  opacity: 0;
}

.header__nav-hamburger[aria-expanded='true']
  .header__nav-hamburger-line:nth-child(3) {
  transform: translateY(-0.83rem) rotate(45deg);
}

/***** Styling for visually hidden text for screen readers *****/
.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/****** Main *******/

.main {
  min-height: 100vh;
  transition: all 0.3s ease;
}

body.scrolled .main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main__hero-container {
  transition: opacity 0.3s ease;
}

body.scrolled .main__hero-container {
  position: sticky;
  top: 0;
  height: 100vh;
  opacity: 0;
}

/******* Hero section *******/

.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--primary-dark-background);
  transition: all 0.3s ease;
}

.hero__heading {
  transition: transform 0.3s ease;
  transform: translateX(0);
}

body.scrolled .hero__heading {
  animation: slideInOut 0.5s ease forwards;
}

/****** Main content *******/

.main__content-container {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.3s ease;
  min-height: 100vh;
  margin-top: 0.1rem;
}

.skills-section {
  background-color: #2196f3;
  width: 100%;
  min-height: 110vh;
  opacity: 0;
  transition: all 0.3s ease;
}

.projects-section {
  background-color: #f44336;
  width: 100%;
  min-height: 100vh;
}

.contact-section {
  background-color: #ffeb3b;
  width: 100%;
  min-height: 100vh;
}

body.scrolled .skills-section {
  opacity: 1;
}

/******* Footer *******/

footer {
  color: var(--white);
}

/****** Keyframes ******/

@keyframes slideInOut {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
}

/* Media queries */

@media only screen and (max-width: 1000px) {
  .header__nav {
    width: 90%;
  }

  body.scrolled .main {
    grid-template-columns: 1fr;
  }

  body.scrolled .main__hero-container {
    position: static;
    opacity: 1;
  }

  body.scrolled .hero__heading {
    animation: none;
  }
}

@media only screen and (max-width: 768px) {
  .header__nav-hamburger {
    display: flex;
  }

  .header__nav-list {
    position: absolute;
    width: 50%;
    right: 0;
    top: 7rem;
    flex-direction: column;
    align-items: start;
    background: var(--primary-dark-background);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    padding: 5rem 0 0 3.5rem;
  }

  .header__nav-list.show-nav {
    opacity: 1;
    visibility: visible;
    box-shadow: 0 0 1px 1px #faf9f6;
  }
}
